<!DOCTYPE html>
<html>
  <head>
    <title>Crudboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  </head>

  <body>

    <div class="container">






      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/index">USER INFO</a>
            </li>
            <li class="nav-item">

              <% if session['email'] %>
               <a href="/user/logout"> 로그아웃</a>
              <% else %>
                <a href = "/user/login"> 로그인 </a> </li>
                    <li class="nav-item">
                <a class="nav-link disabled" href="/user/new">NEW USER</a>
              <% end %>
            </li>
          </ul>
        </div>  <!-- end of navi -->

        <p> <%= flash[:notice] %> </p>

        <div class="card-body">
          <h4 class="card-title">CRUD EXAMPLE</h4>
          <p class="card-text">
              Create, Read, Update, Delete
          </p>

        </div>
      </div>

    <%= yield %>
    <div style='text-align:center'>
      <a href="/post/new" class="btn btn-default">New Article</a>
    </div>
  </div>
  </body>
</html>
